<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.Tags</string>
	<key>CFBundleName</key>
	<string>Tags</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>OSAAppleScriptObjCEnabled</key>
	<true/>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>482</real>
		<key>savedFrame</key>
		<string>1069 154 788 815 0 0 1920 1058 </string>
		<key>selectedTabView</key>
		<string>description</string>
	</dict>
</dict>
</plist>
